/dev-helpers
/docs
/swagger-ui-dist-package
/tests
/.mypy_cache
/design
/docs-build
/assets
/examples
/site
.env
.flake8
mkdocs.yml

# Ignore Python cache and bytecode files
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore version control directories and files
.git/
.gitignore
.gitattributes
.github

# Ignore IDE and editor-specific files
.idea/
.vscode/
*.iml

# Ignore build and dependency files
dist/
build/
*.egg-info/
node_modules/