# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Env files
.env

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Mac files
.DS_Store
.DS_STORE

# Old HG stuff
.hg
.hgignore
.hgtags

.git
__pycache__
.ipynb_checkpoints
*/__pycache__
*/.ipynb_checkpoints
.local
.jupyter
.ipython
*/.terraform
terraform.*
.terraform.*
shinobi-dvr/*
.vscode/

# mypy
.mypy_cache/*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Output from various tools
examples/output
tests/output
docs-build
site

# Local or WIP files
local/

vision-agent-benchmark/
vision_agent/tools/suggestion.py
vision_agent/agent/visual_design_patterns.py
*/node_modules