numpy
pillow
requests
tqdm
pandas
openai
flake8
typing_extensions
opencv-python
tabulate
scipy
nbclient
nbformat
rich
ipykernel
tenacity
pillow-heif
pytube
anthropic
pydantic
av
libcst
matplotlib
scikit-learn
opentelemetry-api
dotenv
pymupdf