name: publish-doc

# build the documentation whenever there are new commits on main
on:
  push:
    branches:
      - main

# security: restrict permissions for CI jobs.
permissions:
  contents: read

jobs:
  # Build the documentation and upload the static HTML files as an artifact.
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.10.11

      - uses: Gr1N/setup-poetry@v8
        with:
          poetry-version: "1.2.2"

      - run: poetry install --all-extras
      - run: mkdir -p docs-build
      - run: poetry run mkdocs build -f mkdocs.yml -d docs-build/

      - uses: actions/upload-pages-artifact@v3
        with:
          path: docs-build/

  # Deploy the artifact to GitHub pages.
  # This is a separate job so that only actions/deploy-pages has the necessary permissions.
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
